.logo{
    
    position:static;
    left: 55%;
    right: 5%;
}

.salir{
    margin-right: 12px;
    font-size: 22px;
    color: #ffc400;
  }

.atras{
    margin-left: 12px;
    font-size: 22px;
    color: #ffc400;
  }