ion-card-title{
    text-align: left;
}

.btn-primario{
    --border-radius: 5px;
    text-transform: none;
    text-align: center;
}

.btn-cancelar{
    text-transform: none;
    text-align: center;
}