ion-content{
    --padding-top: 10px;
    --padding-bottom: 10px;
    --padding-end: 10px;
    --padding-start: 10px;
}
ion-item{
    --padding-bottom: 10px;
}

.logo{
    margin-top: 15%;
    img{
      height: 200px;
      
      }
  }